html,
body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.nav {
  text-align: center;
  position: relative;
}
.nav > a {
  text-decoration: none;
  color: hsl(197, 71%, 73%);
  margin: 0 30px;
  font-size: 32px;
}
.bold {
  font-weight: bolder;
}
ul {
  list-style: none;
  font-size: 52px;
}
li {
  padding: 30px;
  text-align: center;
}

button {
  position: absolute;
  left: 70px;
  top: 40px;
  padding: 10px;
  border-radius: 30px;
  outline: none;
  border: none;
  background-color: #f48fb1;
}
#fav {
  color: cyan;
}
#pro {
  color: #ffc107;
}

button:hover {
  cursor: pointer;
  background-color: #e91e63;
}

button:active {
  background-color: #880e4f;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  animation: rotate 5s linear infinite;
}

.f-video {
  margin-top: 75px;
  text-align: center;
}

iframe {
  display: block;
  margin-left: calc(50% - 478px);
}
